<div class="container">
  <div class="search-box">
    <input #statementInput type="text" placeholder="Enter a statement" [(ngModel)]="statement">
    <button (click)="getArguments(statementInput.value)">Send</button>
  </div>

  <div class="arguments" *ngIf="arguments">
    <h2>{{ arguments.originalStatement }}</h2>

    <div class="supporting-arguments">
      <h3>Supporting Arguments:</h3>
      <ul>
        <li *ngFor="let arg of arguments.supportingArguments">{{ arg }}</li>
      </ul>
    </div>

    <div class="opposing-arguments">
      <h3>Opposing Arguments:</h3>
      <ul>
        <li *ngFor="let arg of arguments.opposingArguments">{{ arg }}</li>
      </ul>
    </div>
  </div>
</div>
