.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

    .search-box {
        display: flex;
        margin-bottom: 20px;

        input {
            flex-grow: 1;
            padding: 10px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

    button {
            padding: 10px 20px;
            border: none;
            background-color: #007BFF;
            color: white;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }

  .arguments {
        text-align: center;
        max-width: 600px;

        h2 {
            color: #333;
            margin-bottom: 20px;
        }

    h3 {
            color: #007BFF;
            margin: 10px 0;
        }

    ul {
            text-align: left;
            list-style-type: none;
            padding: 0;

            li {
                border: 1px solid #ccc;
                padding: 10px;
                margin: 5px 0;
                border-radius: 4px;
                background-color: #f9f9f9;
            }
        }
    }
}
